.banner {
  /* Background */
  background-image: url("banner-color.png");
  background-color: $seamify-brown;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 65px);
  // opacity: 0.9;

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $logo-font;
    text-shadow: 1px 1px 3px $seamify-shadow;
    font-size: 140px;
    color: $seamify-cream;
  }
  p {
    padding: 15px 0;
    font-size: 30px;
    font-family: $body-font;
    color: $seamify-cream;
  }
}
