.container {
  position: relative;
  font-size: 16px;
    h5 {
      margin-top: 30px;
      margin-bottom: 25px;
    }
  }
//#Clothing
.clothing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.clothing-selector {
  position: absolute;
  transform: scale(0);
}
.clothing-selector:checked + label {
  background-color: $seamify-red;
  color: $seamify-white;
  box-shadow: 10px 5px 5px $seamify-brown;
}

.clothings {
  label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 150px;
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 8px;
    text-align: center;
    padding: 100px 25px 10px;
    border-radius: 8px;
    background-color: $seamify-cream;
    }
}

//#Repairs
.repair-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.repair-selector {
  position: absolute;
  transform: scale(0);
}
.repairs {
  label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 150px;
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 8px;
    text-align: center;
    padding: 100px 25px 10px;
    border-radius: 8px;
    background-color: $seamify-cream;
  }
}
.repair-selector:checked + label {
  background-color: $seamify-red;
  color: $seamify-white;
  box-shadow: 10px 5px 5px $seamify-brown;
}
.repair-icons {
    width: 150px;
    margin-left: 9px;
    padding: 40px 50px;
    position: absolute;
}
//#Material//
.material-container {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.materials {
  display: inline-block;
}
.material-selector {
  position: absolute;
  transform: scale(0);
}

.materials {
    label {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 50rem;
    padding: 10px 25px;
    background-color: $seamify-cream;
    color: $seamify-brown;
    margin-bottom: 8px;
  }
}
.material-selector:checked + label {
  background-color: $seamify-red;
  color: $seamify-white;
  box-shadow: 10px 5px 5px $seamify-brown;
}

// Search Button//
  .search-btn {
    background-color: $seamify-red;
    color: $seamify-white;
    width: 30%;
    margin-top: 30px;;
    margin-left: 35%;
    margin-right: 35%;
  }
