.seamstress-profile {
  display: flex;
  h1 {
    font-size: 36px;
  }
}

.link-back {
  color: $seamify-brown;
  margin: 20px 0 10px 5px;
}

.card-format {
  background-color: $seamify-cream;
  border-radius: 8px;
  color: $seamify-brown;
  padding: 20px;
  margin: 10px 5px;
  i {
    color: $seamify-red;
  }
}
.titles {
  font-size: 20px;
}
// Left card
.profile {
  width: 280px;
  p {
    margin: 0;
  }
  .stars {
    font-size: 1.5rem;
  }
  .center-button {
    text-align: center;
    padding: 20px 0 ;
    .seamify-button {
      font-size: 16px;
      width: auto;
      height: auto;
      box-shadow: 4px 4px 10px $seamify-shadow;
    }
  }
}

.text-profile {
  margin: 20px 0;
}

.round-profile {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  img {
    height: 100%;
    width: auto;
    margin-left: -50px;
  }
}

// Right card
.services, .order-form {
  width: 300px;
}

.fields p {
  margin: 5px 10px 5px 0;
}

.box-shaped {
  background-color: $seamify-white;
  border-radius: 4px;
  padding: 10px 15px;
}

.order-form {
  .center-button {
    text-align: center;
    padding: 20px 0 ;
    .seamify-button {
      font-size: 16px;
      border: 2px solid transparent;
      width: auto;
      height: auto;
      box-shadow: 4px 4px 10px $seamify-shadow;
      border: none;
      &:hover {
        background: #f4e5cf;
        color: #d63900;
        border: 2px solid #D63900;
      }
    }
  }
}
.form-select {
  border-radius: 4px;
  color: $seamify-brown;
}

.form-select:focus {
  border-color: $seamify-cream;
  box-shadow: 0 0 0 0.25rem $seamify-red-chat;
}

.error {
  color: $seamify-red;
  margin: 0;
}

// Center card
.reviews {
  height: 190px;
}

.squared-img {
  height: 125px;
  width: 125px;
}

.squared-img img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
//Image Pop Outs//
.modal {
  margin-top: 8%;
  padding-right: 30%;
}
.modal-content {
  background-color: transparent !important;
  border-radius: 0;
  border: 0;
}
img.pop-out {
  border-radius: 8px;
}
.btn-close {
  background-color: $seamify-cream;
  align-self: end;
}
