      <div class="review-title">
        <p><strong>Skirt Repair</strong></p>
        <div class="d-flex stars">
          <% 5.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>
      
    </div>
        <div class="review-img">
        <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1645738596/profile/isabelle.jpg"/>
    </div>
    
    <div class="review-text">
        <p>Rey is the best! She repaired the zipper on my favorite skirt. She made my skirt like new, I didn't have to spend money to buy a new skirt. I'll definitely do business with her again. Thanks Rey!</p>
    </div>
    
    <div class="date">
        <p><em>Isabelle, 2022-01-28</em></p>
        </div>>
    </div>