
<div class = "container">
  <div class="cards-container">

    <div class="cards">
      
      <% @users.each do |user|%>
        <%= render "shared/seamstress_card", user: user %>
      <%end%>

 
      </div>
          <div style="width: 100%; height: 600px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

    </div>

  </div>

</div>


