
<div class = "container">
  <div class="cards-container">

    <div class="cards">
      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        Rio
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
        Berlin
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
        Shanghai
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
        Barcelona
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
        Paris
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
        London
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tel-aviv)">
        Tel Aviv
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/kyoto)">
        Kyoto
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lisbon)">
        Lisbon
      </div>

      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/montreal)">
        Montreal
      </div>

      </div>
          <div style="width: 100%; height: 600px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

    </div>

  </div>

</div>


