
<div class="seamstress-card">
    <div class = "seamstress-card-left">     
        <img src= "https://unsplash.com/photos/tabzu_kbVs0"> 
        <p id = "sname"> Your Seamstress</p>
    </div>
    <div id = "bio">
      <div class ="d-flex">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
      </div>
      <p> Important information here! </p>
    </div>
</div>
