
<div class="seamstress-card">
    <div class = "seamstress-card-left">     
    <img src= "https://images.unsplash.com/photo-1560796952-f1c9b838544c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80">
        <p id = "sname"> Your Seamstress</p>
    </div>
    <div id = "bio">
      <div class ="d-flex">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
      </div>
      <p> Details about your seamstress. </p>
    </div>
</div>
