<div class="container">
  <div class="row justify-content-center my-4">
    <div class="card-format order-summary col-6">
      <div class="order-confirmation">
        <p>Order # 29384701</p>
        <p>Thank you for using Seamify! You will find a summary of your order.</p>
        <p>Rey’s Address : <span class="address-color">5333 Av. Casgrain Suite 102, Montréal, QC H2T 1X3</span></p>
      </div>
    </div>
  </div>
</div>
