<div class="order-confirmation">
  <p>Order # 29384701</p>
  <p>Thank you for using Seamify! You will find a summary of your order.</p>
  <p>Rey’s Address : 5333 Av. Casgrain Suite 102, Montréal, QC H2T 1X3</p>
</div>
