<h1>Order Summary</h1>
<h2>Services:</h2>
<h2>Order Total:</h2>
<h2>Seamstress</h2>
<h2><%= @seamstress.first_name %> <%= @seamstress.last_name %></h2>
<h2>Drop Time</h2>
<p><strong>Contact <%= @seamstress.first_name %> To Confirm Drop Time</strong></p>
