<div class="banner">
  <div class="container">
    <h1>Seamify</h1>
    <p>Alterations and repairs made easy.</p>
    <button data-tf-popup="vsLR0bXs" data-tf-iframe-props="title=Seamify" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#D63900;color:#FFFFFF;font-size:19px;border-radius:0px;padding:0 31px;font-weight:bold;height:47.5px;cursor:pointer;line-height:47.5px;text-align:center;margin:0;text-decoration:none;">Start Journey</button><script src="//embed.typeform.com/next/embed.js"></script>
  </div>
</div>
<br>
<p>Meet some of our people at Seamify</p>
