<div class="banner d-flex align-items-center">
  <div class="container">
    <h1>Seamify</h1>
    <p>Alterations and repairs made for you.</p>
    <%= link_to "Search Now", search_path, class: "seamify-button" %>
  </div>
</div>

<div class="container">
  <h3>Meet some of our people at Seamify</h3>

  <div class="container-meet-cards">
    <% @seamstresses.each do |seamstress| %>
      <%= render "meet_card", seamstress: seamstress %>
    <% end %>
  </div>
</div>
