<div class="banner">
  <div class="container">
    <h1>Seamify</h1>
    <p>Alterations and repairs made for you.</p>
        <%# <%= link_to "Start Your Journey", #_path,  class: "btn btn-seamify"%>
  </div>
</div>
