<div class="banner">
  <div class="container">
    <h1>Seamify</h1>
    <p>Alterations and repairs made for you.</p>
        <%#= link_to "Start Journey", #root_path,  class: "seamify-button"%>
        <% end %>
  </div>
</div>
