.seamify-button {
  background: #d63900;
  border-radius: 4px;
  box-shadow: 2px 2px 10px $seamify-shadow;
  width: 170px;
  height: 50px;
  color: #f4e5cf;
  display: inline-block;
  font-family: $body-font, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
  &:hover {
    background: #f4e5cf;
    color: #d63900;
  }
}

a {
  text-decoration: none;
}
