.footer {
  background-color: $seamify-brown;
  height: 60px;
  width: 100%;
  padding-top: 8px;
  text-align: center;
}

.footer-links {
  a {
    color: $seamify-cream;
    padding: 0 10px;
    font-size: 18px;
    &:hover {
      color: $seamify-red;
    }
  }
}

.footer-copyright {
  color: $seamify-cream;
  font-size: 10px;
}
