.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.cards-map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.marker.mapboxgl-marker {
  width: 50px !important;
  height: 50px !important;
}

#map-position {
  // margin-top: 64px;
}
