.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

#map-position {
  position: sticky;
  top: 5vh;
}

.cards {
  margin-top: 5vh;

  display: grid;
  /* One fr means 1 fraction? Number of fr's sets number of columns
      Can be sized other than fr
      vh means view-port height
      vw means view-port width */
  grid-template-columns: 1fr;

  /* Just playing around with the row sizes
    Images can fill to fit the cards */
  /* grid-template-rows: 10vh 50vh 10vh 10vh; */
  grid-gap: 16px;
}

.cards-container {
  display: flex;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards-container .cards {
  flex-grow: 1;
  padding: 16px;
}

.cards-map {
  height: 100%;
}
