.navbar-lewagon {
  justify-content: space-between;
  background: $seamify-brown;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar-light .navbar-nav .nav-link {
  color: $seamify-cream;
}
