.drop-time {
  .seamify-button {
    font-size: 16px;
    width: auto;
    height: auto;
    box-shadow: 4px 4px 10px $seamify-shadow;
    border: none;
    &:hover {
    background: #f4e5cf;
    color: #d63900;
    border: 2px solid #D63900;
  }
  }
}

.order-summary {
  h3 {
    padding: 0;
  }
}

.h-red {
  color: $seamify-red;
}

.bottom-line {
  border-bottom: 5px solid $seamify-white;
}
