.order-confirmation {
  background-color: $seamify-cream;
  font-family: $seamify-brown;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 0.7;
  padding: 10px 30px;
  margin-top: 10px;
}

.address-color {
  color: $seamify-red;
}
