.review-container {
  width: 500px;
}

.review-form-main {
  background-color: $seamify-cream;
  // margin: 2em auto;
  // padding: 8px;
  border-radius: 1.5em;
  box-shadow: 2px 2px 5px $seamify-shadow;
  // align-items: center;
  padding: 20px;
  color: $seamify-brown;
  .new_review {
    border-top: 2px solid $seamify-brown;
    padding-top: 20px;
  }

  h1 {
    text-align: center;
  }
}

.review-content {
  width: inherit;
  textarea {
    height: 300px;
  }
}

textarea.form-control {
  background-color: $seamify-white;
  border-radius: 8px;
}
