.seamstress-index{
  margin-top: 70px;
  margin-right: 20px;
  height:100vh;
  overflow:scroll;
  overflow-x:hidden;
}

.seamstress-card {
  background-size: cover;
  background-position: center;
  background-color: $seamify-cream;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;

  display: grid;

  height: min-content;

  grid-template-columns: 0.6fr 1fr;

  margin-top: 8px;
  p {
    color: $seamify-brown;
  }
}

.seamstress-card-left {
  display: grid;
  grid-template-columns: 1fr;
}

.seamstress-card img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: -12px;
  margin-left: 12px;
}

.seamstress-cards-container {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.seamstress-cards-container h5 {
  // display: flex;
  margin-top:12px;

}


.seamstress-cards-container .cards {
  flex-grow: 1;
  padding: 16px;
}

#bio {
  font-family: $body-font;
  font-size: 13px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 18px;
  i {
    color: $seamify-red;
  }
}

#sname {
  text-align: left;
  font-size: 24px;
  margin: 8px 0px 8px 12px;
}
