.br-theme-css-stars .br-widget a.br-selected:after {
  color: $seamify-red;
  font-size: 24px;
  margin: auto;
}

.br-theme-css-stars .br-widget a {
  font-size: 24px;
  margin-right: 10px;
}

.br-theme-css-stars {
  .br-widget {
    color: $seamify-red;
    a.br-active:after {
      color: $seamify-brown;
    }
  }
}
