.order-table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
  }
  
.order-table th {
    background-color: $seamify-cream;
    color: $seamify-red;
    text-align: center;
    padding: 5px;
  }
  
.order-table td {
    text-align: center;
    padding: 5px;
    background-color: $seamify-cream;
    color: $seamify-brown;
  }

